apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-db
  namespace: unifi
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: unifi-db
  template:
    metadata:
      labels:
        app: unifi-db
    spec:
      containers:
      - name: mongodb
        image: mongo:4.4
        lifecycle:
          postStart:
            exec:
              command:
                - sh
                - -c
                - |
                  sleep 5
                  mongo --eval "db.createUser({
                    user: '$MONGO_USER',
                    pwd: '$MONGO_PASS',
                    roles: [{role: 'root', db: 'admin'}]
                  })" admin || true
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-password
        - name: MONGO_INITDB_DATABASE
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-database
        ports:

        - containerPort: 27017
          name: mongodb
        volumeMounts:
        - name: data
          mountPath: /data/db
      volumes:
      - name: data
        hostPath:
          path: /storage/appdata/unifi/mongo-data
          type: DirectoryOrCreate
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-controller
  namespace: unifi
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: unifi-controller
  template:
    metadata:
      labels:
        app: unifi-controller
    spec:
      containers:
      - name: unifi
        image: lscr.io/linuxserver/unifi-network-application:latest
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "100"
        - name: TZ
          value: "America/Los_Angeles"
        - name: MONGO_HOST
          value: "unifi-db.unifi.svc.cluster.local"
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DBNAME
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-database
        - name: MONGO_USER
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-username
        - name: MONGO_PASS
          valueFrom:
            secretKeyRef:
              name: unifi-mongo-auth
              key: mongodb-password
        ports:
        - containerPort: 8443
          hostPort: 8443
          name: https-ui
          protocol: TCP
        - containerPort: 8080
          hostPort: 8080
          name: device-adopt
          protocol: TCP
        - containerPort: 10001
          hostPort: 10001
          name: discovery
          protocol: UDP
        volumeMounts:
        - name: config
          mountPath: /config
      volumes:
      - name: config
        hostPath:
          path: /storage/appdata/unifi/unifi-config
          type: Directory
