apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-db
  namespace: unifi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-db
  template:
    metadata:
      labels:
        app: unifi-db
    spec:
      containers:
      - name: mongodb
        image: mongo:4.4
        ports:
        - containerPort: 27017
          name: mongodb
        volumeMounts:
        - name: data
          mountPath: /data/db
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d/init-mongo.js
          subPath: init-mongo.js
      volumes:
      - name: data
        hostPath:
          path: /home/samantha/services/unifi/mongo-data
          type: DirectoryOrCreate
      - name: init-script
        hostPath:
          path: /home/samantha/services/unifi/init-mongo.js
          type: File
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-controller
  namespace: unifi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: unifi-controller
  template:
    metadata:
      labels:
        app: unifi-controller
    spec:
      containers:
      - name: unifi
        image: lscr.io/linuxserver/unifi-network-application:latest
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "100"
        - name: TZ
          value: "America/Los_Angeles"
        - name: MONGO_HOST
          value: "unifi-db"
        - name: MONGO_PORT
          value: "27017"
        - name: MONGO_DBNAME
          value: "unifi"
        - name: MONGO_USER
          value: "unifi"
        - name: MONGO_PASS
          value: "change_me"
        ports:
        - containerPort: 8443
          hostPort: 8443
          name: https-ui
          protocol: TCP
        - containerPort: 8080
          hostPort: 8080
          name: device-adopt
          protocol: TCP
        - containerPort: 10001
          hostPort: 10001
          name: discovery
          protocol: UDP
        volumeMounts:
        - name: config
          mountPath: /config
      volumes:
      - name: config
        hostPath:
          path: /home/samantha/services/unifi/unifi-config
          type: Directory
