apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguard
  namespace: adguard
spec:
  replicas: 0
  selector:
    matchLabels:
      app: adguard
  template:
    metadata:
      labels:
        app: adguard
    spec:
      containers:
      - name: adguard
        image: adguard/adguardhome:latest
        env:
        - name: UID
          value: "1000"
        - name: PID
          value: "100"
        ports:
        - containerPort: 53
          hostPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          hostPort: 53
          name: dns-udp
          protocol: UDP
        - containerPort: 67
          hostPort: 67
          name: dhcp-67
          protocol: UDP
        - containerPort: 68
          hostPort: 68
          name: dhcp-68
          protocol: UDP
        - containerPort: 3000
          hostPort: 3000
          name: setup
          protocol: TCP
        - containerPort: 853
          hostPort: 853
          name: dot-tcp
          protocol: TCP
        - containerPort: 784
          hostPort: 784
          name: dnscrypt-udp
          protocol: UDP
        - containerPort: 853
          hostPort: 853
          name: dot-udp
          protocol: UDP
        - containerPort: 8853
          hostPort: 8853
          name: doq
          protocol: UDP
        - containerPort: 5443
          hostPort: 5443
          name: dnscrypt-tcp
          protocol: TCP
        - containerPort: 5443
          hostPort: 5443
          name: dnscrypt-udp2
          protocol: UDP
        volumeMounts:
        - name: conf
          mountPath: /opt/adguardhome/conf
        - name: work
          mountPath: /opt/adguardhome/work
      volumes:
      - name: conf
        hostPath:
          path: /storage/appdata/adguard/conf
          type: DirectoryOrCreate
      - name: work
        hostPath:
          path: /storage/appdata/adguard/work
          type: DirectoryOrCreate
