apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-graffiti
  namespace: web-graffiti
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: web-graffiti
  template:
    metadata:
      labels:
        app: web-graffiti
    spec:
      containers:
      - name: gluetun
        image: qmcgaw/gluetun:latest
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        env:
        - name: VPN_SERVICE_PROVIDER
          value: "protonvpn"
        - name: VPN_PORT_FORWARDING
          value: "on"
        - name: VPN_PORT_FORWARDING_PROVIDER
          value: "protonvpn"
        - name: VPN_PORT_FORWARDING_STATUS_FILE
          value: "/gluetun/forwarded_port"
        - name: VPN_PORT_FORWARDING_UP_COMMAND
          value: "/scripts/update-port.sh {{PORTS}}"
        - name: TZ
          value: "UTC/UTC"
        - name: VPN_TYPE
          value: "wireguard"
        - name: WIREGUARD_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: web-graffiti-vpn
              key: wireguard-public-key
        - name: WIREGUARD_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: web-graffiti-vpn
              key: wireguard-private-key
        - name: SERVER_CITIES
          valueFrom:
            secretKeyRef:
              name: web-graffiti-vpn
              key: server-cities
        - name: SLSKD_USERNAME
          valueFrom:
            secretKeyRef:
              name: web-graffiti-vpn
              key: slskd-username
        - name: SLSKD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: web-graffiti-vpn
              key: slskd-password
        - name: WIREGUARD_ADDRESSES
          value: "10.2.0.2/32"
        - name: WIREGUARD_PERSISTENT_KEEPALIVE
          value: "25"
        - name: LOG_LEVEL
          value: "info"
        - name: VPN_INTERFACE_MTU
          value: "1280"
        ports:
        - containerPort: 5554
          name: slskd
        volumeMounts:
        - name: gluetun
          mountPath: /gluetun
        - name: scripts
          mountPath: /scripts
      - name: slskd
        image: ghcr.io/samhatter/slskd:latest
        env:
        - name: SLSKD_NO_SHARE_SCAN
          value: "false"
        - name: SLSKD_NO_AUTH
          value: "false"
        - name: SLSKD_DOWNLOADS_DIR
          value: "/storage/downloads"
        - name: SLSKD_SHARED_DIR
          value: "/storage"
        - name: SLSKD_REMOTE_CONFIGURATION
          value: "true"
        - name: SLSKD_HTTP_PORT
          value: "5554"
        - name: SLSKD_DISK_LOGGER
          value: "true"
        - name: SLSKD_UPLOAD_SPEED_LIMIT
          value: "1000000"
        - name: SLSKD_DOWNLOAD_SPEED_LIMIT
          value: "1000000"
        - name: SLSKD_UPLOAD_SLOTS
          value: "500"
        - name: SLSKD_DOWNLOAD_SLOTS
          value: "500"
        - name: SLSKD_SLSK_USERNAME
          valueFrom:
            secretKeyRef:
              name: web-graffiti-config
              key: slskd-username
        - name: SLSKD_SLSK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: web-graffiti-config
              key: slskd-password
        - name: SLSKD_USERNAME
          valueFrom:
            secretKeyRef:
              name: web-graffiti-config
              key: web-username
        - name: SLSKD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: web-graffiti-config
              key: web-password
        volumeMounts:
        - name: storage
          mountPath: /storage
        - name: app
          mountPath: /app
        - name: theme
          mountPath: /slskd/wwwroot/theme.css
      volumes:
      - name: gluetun
        hostPath:
          path: /storage/appdata/web-graffiti/gluetun
          type: DirectoryOrCreate
      - name: scripts
        hostPath:
          path: /storage/appdata/web-graffiti/scripts
          type: DirectoryOrCreate
      - name: storage
        hostPath:
          path: /storage/web-graffiti
          type: Directory
      - name: app
        hostPath:
          path: /storage/appdata/web-graffiti/slskd
          type: DirectoryOrCreate
      - name: theme
        hostPath:
          path: /storage/appdata/web-graffiti/theme.css
          type: FileOrCreate
