apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - network-policy.yaml
  - web-graffiti-vpn.sops.yaml
  - web-graffiti-config.sops.yaml
