apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      containers:
      - name: gluetun
        image: qmcgaw/gluetun:latest
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        env:
        - name: VPN_SERVICE_PROVIDER
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: vpn-service-provider
        - name: VPN_PORT_FORWARDING
          value: "on"
        - name: VPN_PORT_FORWARDING_PROVIDER
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: vpn-port-forwarding-provider
        - name: VPN_PORT_FORWARDING_STATUS_FILE
          value: "/gluetun/forwarded_port"
        - name: VPN_PORT_FORWARDING_UP_COMMAND
          value: "/bin/sh -c 'wget -O- --retry-connrefused --post-data \"json={\\\"listen_port\\\":{{PORTS}}}\" 127.0.0.1:1024/api/v2/app/setPreferences 2>&1'"
        - name: TZ
          value: "UTC/UTC"
        - name: VPN_TYPE
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: vpn-type
        - name: WIREGUARD_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: wireguard-public-key
        - name: WIREGUARD_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: wireguard-private-key
        - name: WIREGUARD_ADDRESSES
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: wireguard-addresses
        - name: WIREGUARD_PERSISTENT_KEEPALIVE
          value: "25"
        - name: LOG_LEVEL
          value: "info"
        - name: VPN_INTERFACE_MTU
          value: "1280"
        - name: SERVER_CITIES
          valueFrom:
            secretKeyRef:
              name: qbittorrent-vpn
              key: server-cities
        ports:
        - containerPort: 80
          name: webui
        volumeMounts:
        - name: gluetun
          mountPath: /gluetun
      - name: qbittorrent
        image: linuxserver/qbittorrent:latest
        env:
        - name: PUID
          value: "1000"
        - name: PGID
          value: "100"
        - name: WEBUI_PORT
          value: "80"
        ports:
        - containerPort: 80
          name: webui
        volumeMounts:
        - name: config
          mountPath: /config
        - name: media
          mountPath: /media
      volumes:
      - name: gluetun
        hostPath:
          path: /storage/appdata/qbittorrent/gluetun
          type: DirectoryOrCreate
      - name: config
        hostPath:
          path: /storage/appdata/qbittorrent/app
          type: Directory
      - name: media
        hostPath:
          path: /storage/media
          type: Directory
